.machines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: moccasin;
    width: auto;
    height: auto;
    object-fit: auto;
  }
